@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: black;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: rgb(52, 52, 52);
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}



/*************** Custom CSS Classes *********************/

.bg-gradient-theme {
  background: linear-gradient(to bottom, #FF00A8, #4542D8);
}